<%-include('templates/init.ejs')%>
<%-include('templates/menu.ejs')%>
<div class="container text-center">
    <h1 class="mt-5 pt-5">Error 404</h1>
    <h2 class="mt-5 mb-5">La pagina a la que intentas acceder no existe.</h2>
</div>
<%-include('templates/end.ejs')%>